Checks: "-*,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-*,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-*,
  -cppcoreguidelines-slicing,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  bugprone-dynamic-static-initializers,
  bugprone-easily-swappable-parameters,
  bugprone-integer-division,
  bugprone-use-after-move,
  performance-noexcept-move-constructor,
  performance-inefficient-algorithm,
  modernize-make-unique,
  modernize-make-shared,
  modernize-use-bool-literals,
  modernize-use-nodiscard,
  modernize-use-using"
HeaderFilterRegex: .*/sophus/.*
CheckOptions:
  - { key: readability-uppercase-literal-suffix.NewSuffixes, value: L }

  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - {
      key: readability-identifier-naming.TemplateParameterCase,
      value: CamelCase,
    }
  - { key: readability-identifier-naming.TemplateParameterPrefix, value: T }
  - {
      key: readability-identifier-naming.TemplateParameterIgnoredRegexp,
      value: "expr-type",
    }
  - { key: readability-identifier-naming.TypedefCase, value: CamelCase }

  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
  - { key: readability-identifier-naming.MethodCase, value: camelBack }

  - { key: readability-identifier-naming.EnumConstantCase, value: lower_case }
  - { key: readability-identifier-naming.MemberCase, value: lower_case }
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterCase, value: lower_case }
  - { key: readability-identifier-naming.ParameterPackCase, value: lower_case }
  - {
      key: readability-identifier-naming.ScopedEnumConstantCase,
      value: lower_case,
    }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.ConstantCase, value: lower_case }

  - { key: readability-identifier-naming.PrivateMemberSuffix, value: _ }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _ }

  - { key: readability-identifier-naming.GlobalConstantCase, value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix, value: k }
  - { key: readability-identifier-naming.StaticConstantCase, value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix, value: k }
  - {
      key: readability-identifier-naming.ValueTemplateParameterCase,
      value: CamelCase,
    }
  - {
      key: readability-identifier-naming.ValueTemplateParameterPrefix,
      value: k,
    }

  - { key: readability-identifier-naming.GlobalVariablePrefix, value: Static_ }
  - {
      key: readability-identifier-naming.GlobalVariableCase,
      value: Camel_Snake_Case,
    }
  - { key: readability-identifier-naming.StaticVariablePrefix, value: Static_ }
  - {
      key: readability-identifier-naming.StaticVariableCase,
      value: Camel_Snake_Case,
    }

  - { key: cppcoreguidelines-init-variables.MathHeader, value: <cmath> }
