name: Build Docs

on:
  push:
    branches: [ master, 23.04-beta ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
      fail-fast: false


    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: build docs
        run: |
          scripts/install_docs_deps.sh
          ./make_docs.sh
          cd html-dir
          touch .nojekyll
          cd ../..

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: html-dir
          publish_branch: gh_pages_beta
